<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Voluntari</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Panou de control', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Voluntari', volunteers_path %></div>
      <div class="breadcrumb-item">Modificare voluntar</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Modificare voluntar</h4>
      </div>
      <div class="card-body">
        <%= render 'form', volunteer: @volunteer %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('fas fa-eye', 'Vizualizare'), @volunteer, data: { turbolinks_action: 'replace' }, class: 'btn btn-icon icon-left btn-info' %>
<%= link_to icon('fas fa-arrow-left', 'Înapoi'), 'javascript:history.back()', class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Modificare voluntar') %>
