<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Avenor Christmas Fair', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'ACF', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fab fa-fire" style="font-size: 16px;"></i> <span>Panou de control</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('students', 'index') %>">
        <%= link_to students_path, class: "nav-link" do %>
          <i class="fas fa-user-graduate"></i> <span>Elevi</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('grades', 'index') %>">
        <%= link_to grades_path, class: "nav-link" do %>
          <i class="fab fa-users-class"></i> <span>Clase</span>
        <% end %>
      </li>

      <li class="menu-header">Controlori</li>
      <%= render 'shared/sidebar_dropdown', title: 'Resurse', icon: 'fas fa-file-alt' do %>
      
<!--         <li class="<%= active_nav_item('students', crud_actions) %>">
          <%= link_to 'Students', students_path, class: 'nav-link' %>
        </li> -->
      
      <% end %>
    </ul>
  </aside>
</div>
