<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Avenor Christmas Fair', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'ACF', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fab fa-columns" style="font-size: 16px;"></i> <span>Panou de control</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('students', 'index') %>">
        <%= link_to students_path, class: "nav-link" do %>
          <i class="fas fa-user-graduate"></i> <span>Elevi</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('grades', 'index') %>">
        <%= link_to grades_path, class: "nav-link" do %>
          <i class="fab fa-users-class"></i> <span>Clase</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('volunteers', 'index') %>">
        <%= link_to volunteers_path, class: "nav-link" do %>
          <i class="fab fa-person-sign"></i> <span>Voluntari</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('departments', 'index') %>">
        <%= link_to departments_path, class: "nav-link" do %>
          <i class="fab fa-building"></i> <span>Departamente</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('jobs', 'index') %>">
        <%= link_to jobs_path, class: "nav-link" do %>
          <i class="fab fa-users"></i> <span>Atribuții</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('stands', 'index') %>">
        <%= link_to stands_path, class: "nav-link" do %>
          <i class="fab fa-shopping-cart"></i> <span>Standuri</span>
        <% end %>
      </li>

      <li class="menu-header">Aplicație</li>

      <li class="<%= active_nav_item('home', 'about') %>">
        <%= link_to about_path, class: "nav-link" do %>
          <i class="fab fa-info"></i> <span>Despre aplicație</span>
        <% end %>
      </li>

<!--       <#= render 'shared/sidebar_dropdown', title: 'Resurse', icon: 'fas fa-file-alt' do #>
      
        <li class="<%= active_nav_item('students', crud_actions) %>">
          <%= link_to 'Students', students_path, class: 'nav-link' %>
        </li>
      
      <# end #> -->
    </ul>
  </aside>
</div>
