<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Panou de control</h1>
  </div>

  <% unless admin_signed_in? %>
    <div class="hero align-items-center bg-info text-white">
      <div class="hero-inner text-center">
        <h2>Bine ai venit</h2>
        <p class="lead">Autentifică-te acum pentru a avea acces la panoul de control.</p>
        <div class="mt-4">
          <%= link_to(icon('fas fa-sign-in-alt', 'Autentificare'), new_admin_session_path, class: "btn btn-outline-white btn-lg btn-icon icon-left") %>
        </div>
      </div>
    </div>

  <% else %>
      <div class="hero text-white hero-bg-image hero-bg-parallax mb-4" style="background-image: url('<%= image_path "unsplash/andre-benz-1214056-unsplash.jpg" %>');">
        <div class="hero-inner">
          <h2>Bine ai venit, <%= current_admin.name %></h2>
          <p class="lead">Accesează resursele din bara laterală sau efectuează o căutare.</p>
          <div class="mt-4">
            <%= link_to(icon('fas fa-user', ' Modificare detalii cont'), edit_admin_registration_path, class: "btn btn-outline-white btn-lg btn-icon icon-left") %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <%= link_to students_path do %>
            <div class="card card-statistic-1">
              <div class="card-icon bg-primary">
                <i class="fas fa-user-graduate"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Elevi</h4>
                </div>
                <div class="card-body">
                  <%= Student.all.size %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <%= link_to volunteers_path do %>
            <div class="card card-statistic-1">
              <div class="card-icon bg-success">
                <i class="fab fa-person-sign"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Voluntari</h4>
                </div>
                <div class="card-body">
                  <%= Volunteer.all.size %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <%= link_to stands_path do %>
            <div class="card card-statistic-1">
              <div class="card-icon bg-warning">
                <i class="fab fa-shopping-cart"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Standuri</h4>
                </div>
                <div class="card-body">
                  <%= Stand.all.size %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <%= link_to departments_path do %>
            <div class="card card-statistic-1">
              <div class="card-icon bg-danger">
                <i class="fab fa-building"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4>Departamente</h4>
                </div>
                <div class="card-body">
                  <%= Department.all.size %>
                </div>
              </div>
            </div>
          <% end %>
        </div>                  
      </div>

  <% end %>

</section>

<% content_for(:page_title, 'Panou de control') %>
