<div class="modal-header">
  <h4 class="modal-title" id="modalTitle" contenteditable="true"><%= @event.title %></h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>

<%= form_with(model: @event, id: 'edit_event_form', data: { controller: 'validation' }) do |form| %>
	<div class="modal-body">
	  <!-- <div class="form-group"> -->
	    <%# form.label :title %>
	    <%= form.hidden_field :title, class: 'form-control', id: 'title-hidden-field' %>
	  <!-- </div> -->
	  <div class="form-group">
	    <%= form.label :color %>
	    <%# form.color_field :color, class: 'form-control' %>

	    <div class="selectgroup selectgroup-pills">
        <div class="row gutters-xs">
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#6777ef", class: "colorinput-input", checked: true %>
              <span class="colorinput-color bg-primary"></span>
            </label>
          </div>
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#cdd3d8", class: "colorinput-input" %>
              <span class="colorinput-color bg-secondary"></span>
            </label>
          </div>
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#fc544b", class: "colorinput-input" %>
              <span class="colorinput-color bg-danger"></span>
            </label>
          </div>
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#ffa426", class: "colorinput-input" %>
              <span class="colorinput-color bg-warning"></span>
            </label>
          </div>
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#3abaf4", class: "colorinput-input" %>
              <span class="colorinput-color bg-info"></span>
            </label>
          </div>
          <div class="col-auto">
            <label class="colorinput">
              <%= form.radio_button :color, "#63ed7a", class: "colorinput-input" %>
              <span class="colorinput-color bg-success"></span>
            </label>
          </div>
        </div>
      </div>


	  </div>
	  <div class="form-group">
	    <%= form.label :start %>
	    <%= form.text_field :start, value: @event.start.strftime('%Y/%m/%d %H:%M'), class: 'form-control', id: 'start_date_field', data: { controller: 'datetime' } %>
	  </div>
	  <div class="form-group" id="end_date_form_group">
	    <%= form.label :end %>
	    <%= form.text_field :end, value: (@event.end ? @event.end.strftime('%Y/%m/%d %H:%M') : ""), class: 'form-control', id: 'end_date_field', data: { controller: 'datetime' } %>
	  </div>
	  <div class="form-group">
      <div class="custom-switch pl-0">
        <%= form.check_box :all_day, class: 'custom-switch-input' %>
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description">
          <%= form.label :all_day, class: 'custom-control-label', style: "opacity: 0; transform: scale(1.3); margin-left: 12px; margin-top: -2px" %>
          <span style="position: absolute; left: 70px;">Toată ziua</span>
        </span>
      </div>
	  </div>
	  <div class="form-group">
	    <%= form.label :admin_id %>
      <input value="<%= current_admin.name %>" class="form-control" readonly="readonly" type="text">
	    <%= form.hidden_field :admin_id, value: current_admin.id %>
	    <%# form.collection_select(:admin_id, Admin.all, :id, :to_s, {}, { class: 'form-control', readonly: true, data: { controller: 'select' } }) %>
	  </div>
	</div>

	<div class="modal-footer">
	  <%= form.submit class: 'btn btn-primary', id: 'modal-submit' %>
	  <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
	</div>
<% end %>

<script>
  // If All day, automatically hide the end field
  if ($('#event_all_day').is(':checked')) {
    $('#end_date_form_group').hide()
  }

  // Puts the contenteditable title into a hidden field to be passed into the db
  $('form#edit_event_form').submit(() => {
    let titleHiddenField = document.querySelector('#title-hidden-field')
    let modalTitle = document.querySelector('#modalTitle')
    titleHiddenField.value = modalTitle.textContent
    return true;
  });

  // Hide end date if all day
  $('#event_all_day').change(() => {
    if ( $('#event_all_day').is(':checked') ) {
      $('#end_date_form_group').hide('500')
    } else {
      $('#end_date_field').val("")
      $('#end_date_form_group').show('500')
    }
  })
</script>
