<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Evenimente</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Panou de control', root_path %></div>
      <div class="breadcrumb-item">Lista evenimentelor</div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Lista evenimentelor</h4>
        <div class="card-header-action">
          <%= link_to icon('fas fa-plus', 'Adaugă un eveniment'), new_event_path, class: 'btn btn-icon icon-left btn-primary', remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window' %>
          <%= render 'shared/card_dropdown' do %>
            <%= link_to icon('fas fa-download', 'Exporă datele'), events_path(format: :csv, q: request.params[:q]), class: 'dropdown-item has-icon' %>
            <%= link_to icon('fas fa-print', 'Tipărește pagina'), 'javascript:window.print()', class: 'dropdown-item has-icon' %>
          <% end %>
        </div>
      </div>
      <div class="card-body" data-controller="infinite-page">

        <%= search_form_for @search, remote: true, data: { controller: 'turbolinks-form' }, html: { class: 'form-row' } do |f| %>
          <div class="form-group col-sm-10">
            <%= f.text_field :title_cont, class: 'form-control m-input m-input--solid', placeholder: 'Caută după denumire...' %>
          </div>
          <div class="form-group col-sm-2 text-right">
            <%= f.button icon('fas fa-search', 'Caută'), name: nil, class: 'btn btn-icon icon-left btn-primary' %>
          </div>
        <% end %>

        <div class="table-responsive">
          <table class="table table-striped table-md">
            <thead>
              <tr>
                <th><%= sort_link_turbo(@search, :title) %></th>
                <th><%= sort_link_turbo(@search, :color) %></th>
                <th><%= sort_link_turbo(@search, :start) %></th>
                <th><%= sort_link_turbo(@search, :end) %></th>
                <th><%= sort_link_turbo(@search, :all_day) %></th>
                <th><%= sort_link_turbo(@search, :admin) %></th>
                <th>Acțiuni</th>
              </tr>
            </thead>
            <tbody data-target="infinite-page.container">
              <% @events.each do |event| %>
                <tr data-target="infinite-page.item">
                  <td><%= link_to event.title, event, class: "badge badge-light" %></td>
                  <td><span class="colorinput-color" style="background-color: <%= event.color %>"></span></td>
                  <td><%= event.start_datetime %></td>
                  <td><%= event.end_datetime %></td>
                  <td><%= event.all_day ? '<i class="fas fa-check-circle text-success" style="font-size: 18px"></i>'.html_safe : '<i class="fas fa-times-circle" style="font-size: 18px"></i>'.html_safe %></td>
                  <td><%= event.admin.name %></td>
                  <td>
                    <%= link_to icon('fas fa-eye'), event, title: 'Show it', class: 'btn btn-icon btn-sm btn-info mr-1' %>
                    <%= link_to icon('fas fa-edit'), edit_event_path(event), title: 'Edit it', class: 'btn btn-icon btn-sm btn-warning mr-1' %>
                    <%= link_to icon('fas fa-trash'), event, title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= link_to 'Next page', events_path(page: @page.next_number, q: request.params[:q]), data: { target: 'infinite-page.more' } unless @page.last? %>
        </div>
      </div>
    </div>
  </div>

</section>

<% content_for(:page_title, 'Lista evenimentelor') %>
